<h1>GeekTwitter</h1>
<h3>新規Tweet</h3>

<%= form_with(model: @tweet, local: true) do |f| %>

    

    

    <div class="post-container">
    <p class="title">投稿フォーム</p>
    <%= form_for(@tweet, :url => { controller:'tweets', action:'create'})do |f| %>
    <%= f.label :投稿内容 %>
        <br>
        
        <%= f.label :body %>
        <%= f.text_field :body, size: 110 %>
    

    <%= f.label :result_detail, "内容" %>
    <%= f.text_field :result_detail %>
    
    <%= f.label :result_key, "診断結果識別用" %>
    <%= f.text_field :result_key %>

    <%= f.select :category, [
        ["乳児期", "nyuuziki"], 
        ["幼児期", "youziki"], 
        ["学齢期", "gakureiki"], 
        ["思春期", "sisyunnki"], 
        ["若年期", "zyakunennki"], 
        ["成人期", "seizinnki"], 
        ["壮年期", "sounennki"], 
        ["老年期", "rounennki"], 
        ["スポーツをする人", "sports"], 
        ["妊娠期", "ninnsinnki"]
    ], include_blank: "ライフステージ選択" %>
        <%= f.text_field :body,size: 140%>
        <br>
    <%= f.submit "送信"%>
    <br>
    
</div>
<% end %>

<% end %>
