<div class="comment-wrapper">
    <p>コメント一覧</p>
    <% @comments.each do |comment| %>
        <div>
            <%= comment.user.email unless comment.user.blank? %>
            <br>
            <%= comment.content %>
            <% if comment.image.attached? %>
                <%= image_tag comment.image, size: '250x200'%>
            <% end %>
        </div>

        <!-- いいね機能 -->
        <% if user_signed_in? %>
            <% if current_user.already_good?(comment) %>
                <%= button_to tweet_comment_good_path(@tweet, comment, comment.goods.find_by(user: current_user)), 
                            method: :delete, data: { turbo_method: :delete } do %>
                    <p>いいねを取り消す</p><%= comment.goods.count %>
                <% end %>
            <% else %>
                <%= button_to tweet_comment_goods_path(@tweet, comment), 
                            method: :post, data: { turbo_method: :post } do %>
                    <p>いいね</p><%= comment.goods.count %>
                <% end %>
            <% end %>
        <% end %>
        <br>
    <% end %>

    <!-- コメント投稿フォーム -->
    <% if user_signed_in? %>
        <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
            <div class="field">
                <%= f.label :image %>
                <%= f.file_field :image %>
            </div>
            <%= f.text_area :content %>
            <%= button_tag type: "submit" do %>
                <i class="far fa-comments"></i> コメントする
            <% end %>
        <% end %>
    <% end %>
</div>
